<aside class="main-sidebar sidebar-dark-primary elevation-4">

    <NavLink class="brand-link" href="/">
        <img src="css/admin-lte/img/AdminLTELogo.png"
             alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Open ERP</span>
    </NavLink>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="css/admin-lte/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Alexander Pierce</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">

                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Home
                        </p>
                    </NavLink>
                </li>
                <li class="nav-item">

                    <NavLink class="nav-link" href="/catalogs" Match="NavLinkMatch.All">
                        <i class="nav-icon fas fa-list"></i>
                        <p>
                            Catalogs
                        </p>
                    </NavLink>
                </li>
                <TreeViewMenu CssClass="fas fa-cogs" NavLabel="Maintenance">
                    <TreeViewMenuItem CssIcon="fa fa-user" Label="Users" href="/settings/users" Match="NavLinkMatch.All"></TreeViewMenuItem>
                    <TreeViewMenuItem CssIcon="fa fa-user" Label="Roles" href="/settings/roles" Match="NavLinkMatch.All"></TreeViewMenuItem>
                </TreeViewMenu>


            </ul>
        </nav>
    </div>
</aside>


@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
