<h3>BuyingDetailsComponent</h3>

@code {
    [Parameter] public CatalogModel Model { get; set; }
    [Parameter] public List<AccountsModel> Accounts { get; set; }
    [Parameter] public EventCallback<CatalogModel> OnModelChange { get; set; }
   
}
