@page "/"

@attribute [Authorize]
@inject IConfiguration _configuration
@inject IPdfViewerService _pdfViewerService
@*<h1>Hello, world!</h1>

    Welcome to your new app.

    <SurveyPrompt Title="How is Blazor working for you?" />
    <div id="card-element"></div>*@
@page "/webviewer"
<h1>WebViewer</h1>
<div id='viewer' style="height:700px"></div>


@code{
    protected override async Task OnInitializedAsync()
    {

        @*await _jsRuntime.InvokeVoidAsync("initializeStripe", _configuration.GetSection("Stripe:Key").Value);*@
        @*   _jsModule = await _jsRuntime.InvokeAsync<IJSObjectReference>("import", "./js/pdfviewer.js");*@
    }
    protected override async void OnAfterRender(bool firstRender)
    {
        @*   await _jsModule.InvokeAsync<object>("initWebViewer");*@
        @*await _jsRuntime.InvokeVoidAsync("initiateCard");*@
        await _pdfViewerService.RenderPdf("viewer", "https://localhost:44380/PdfFileViewer");
    }
}