@inherits LayoutComponentBase

<body class="login-page" style="min-height: 496.391px;">
    <div class="login-box">
        <div class="login-logo">
        <img src="/images/logo.png" style="width:100%"/>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>

                @Body

               
            </div>
            <!-- /.login-card-body -->
        </div>
        <hr />
        <div class="alert alert-warning alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h6><i class="icon icon-warning-1"></i> Alert!</h6>
            <p>This web application is not intended for public use. If you are not authorized to use this software please close this browser window now.</p>


            <span style="font-size:11px;"> IP Monitored:   </span>


        </div>
    </div>


</body>

@code {

}
